python-telegram-bot==20.8
requests==2.32.3
sentence-transformers==2.2.0
scikit-learn==1.5.1
sqlalchemy==2.0.35
cosette
flask==2.0.1
flask-limiter==1.4
flask-jwt-extended==4.3.1
werkzeug==2.0.1
pyyaml==6.0.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
alembic==1.11.1  
langdetect==1.0.9
toolslm
socks
braintrust==0.0.157
braintrust-core==0.0.54
braintrust-api==0.4.0
pytz==2023.3
Flask-Login==0.6.2
Flask-WTF==1.1.1
redis==4.6.0
celery==5.3.1
flask
flask-sqlalchemy
flask-login
flask-wtf
pytest
asyncpg